footer {
  --column: repeat(1, 1fr);
  --row: repeat(2, 1fr);

  margin-top: 30vh;
  display: grid;
  grid-template-columns: var(--column);
  grid-template-rows: var(--row);
  align-items: center;
  justify-content: center;
  background-color: #3B3B3B;
  width: 100%;
  min-height: 30vh;
}

footer > .first-footer,
footer > .second-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


footer > .first-footer > a,
footer > .second-footer > a {
  font-size: var(--base-font-size);
  color: var(--base-text-color);
}
