:root {
  /* Font sizes: */
  --base-header-font-size: 2rem;
  --small-header-font-size: 1.7rem;
  --title-font-size: 2rem;
  --base-font-size: 1.8rem;
  --button-font-size: 2rem;
  
  /* Colors: */
  --base-text-color: #ffffff;
  --accient-color: #FF6A00;

  /* Sizes: */

  --base-section-size: 90%;
  --problem-card-span-width: 27rem;

  /* Paddings and margins: */
  --base-section-padding: 1rem 0rem 1rem 0rem;
}

@font-face {
  font-family: "Raleway Medium";
  src: url('../fonts/Raleway/Raleway-v4020-Medium.otf');
}


@font-face {
  font-family: "Raleway Bold";
  src: url('../fonts/Raleway/Raleway-v4020-Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
  font-family: "Raleway Medium";
}

body {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

@media(max-width: 300px) {
  :root {
    --problem-card-span-width: 20rem;
  }
}

@media(min-width: 440px) and (max-width: 460px) {
  :root {
    --problem-card-span-width: 30rem;
  }
}


@media(min-width: 461px) and (max-width: 480px) {
  :root {
    --problem-card-span-width: 33rem;
  }
}

@media(min-width: 481px) and (max-width: 510px) {
  :root {
    --problem-card-span-width: 36rem;
  }
}


@media(min-width: 511px) and (max-width: 540px) {
  :root {
    --problem-card-span-width: 40rem;
  }
}

@media(min-width: 541px) and (max-width: 570px) {
  :root {
    --problem-card-span-width: 44rem;
  }
}


@media(min-width: 571px) and (max-width: 650px) {
  :root {
    --problem-card-span-width: 44rem;
  }
}


@media(min-width: 651px) and (max-width: 700px) {
  :root {
    --problem-card-span-width: 50rem;
  }
}

@media(min-width: 701px) and (max-width: 800px) {
  :root {
    --problem-card-span-width: 55rem;
  }
}

@media(min-width: 801px) and (max-width: 900px) {
  :root {
    --problem-card-span-width: 65rem;
  }
}

@media(min-width: 901px) and (max-width: 1000px) {
  :root {
    --problem-card-span-width: 75rem;
  }
}

@media(min-width: 1001px) and (max-width: 1100px) {
  :root {
    --problem-card-span-width: 80rem;
  }
}

@media(min-width: 1101px) and (max-width: 1200px) {
  :root {
    --problem-card-span-width: 85rem;
  }
}

@media(min-width: 1201px) {
  :root {
    --problem-card-span-width: 100%;
    --button-font-size: 3rem;
  }
}

@media(min-width: 2560px) {
  :root{
    --base-header-font-size: 2.5rem;
    --small-header-font-size: 2rem;
    --title-font-size: 2.5rem;
    --base-font-size: 2rem;
  }
}

@media(min-width: 3000px){
  :root{
    --base-header-font-size: 3rem;
    --small-header-font-size: 3rem;
    --title-font-size: 3.5rem;
    --base-font-size: 3rem;
  }
}
