<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
<header>
  <div class="mobile-header">
    <div class="logo">
      <img src="../static/icons/logo 1.png" alt="logo">
    </div>
    <svg width="36" height="27" viewBox="0 0 36 27" class="header-open">
      <use href="../static/icons/sprite.svg#menu-icon"></use>
    </svg>
  </div>

  <div class="desktop-header">
    <div class="logo">
      <img src="../static/icons/logo 1.png" alt="logo">
    </div>
    <nav>
      <a href="/home">Home</a>
      <a href="/problems">Problems</a>
      <a href="/information">Information</a>
    </nav>
  </div>

  <div class="header-modal">
    <div class="exit-header-modal">
        <svg width="48" height="48" viewBox="0 0 48 48">
          <use href="../static/icons/sprite.svg#exit-icon"></use>
        </svg>
    </div>
    <nav>
      <a href="/home">Home</a>
      <a href="/problems">Problems</a>
      <a href="/information">Information</a>
    </nav>
  </div>
</header>
<script type="module" src="../static/js/main.js"></script>
<script type="module" src="../static/js/header.js"></script>
