{% include "header" %}
<main> 
  <link rel="stylesheet" href="../static/css/politics.css">
  <section id="hello-section">
    <h1>Privacy policy</h1>
    <span>This page contains the privacy policy for using this project.  Although the project is distributed under the MIT license.</span>
  </section>
  <section id="text-policy">
    <h1>MIT License</h1>
    <ul>
     <li>Any person is granted free permission to obtain a copy of the Software and related documentation files ("Software").</li> 
     <li>The right to use, copy, modify, merge, publish, distribute, sublicense and/or sell copies of the Software without restrictions.</li>
     <li>The Software is provided "AS IS" without warranty of any kind, express or implied, 
       including merchantability, fitness for a particular purpose, and non-infringement of third—party rights</li>
     <li>The web interface uses the Raleway font, 
       which is distributed under the SIL Open Font License (all license information is available in the project)</li>
    </ul>
  </section>
</main>
{% include "footer" %}
